## Парсинг данных с сайта

In [ ]:
station_id = 'KJFK'      # идентификатор станции, с которой нужны наблюдения    
start = date (2023,1,1) # начало периода загрузки данных 
end = date.today()      # конец  периода загрузки данных  

meteo_utils.load_weaclim4period (station_id, start, end, 'weaclim_data', adress="http://www.pogodaiklimat.ru/weather.php?")  #adress="http://www.pogodaiklimat.ru/usaweather.php?"

## Чтение скачанных и сохраненных данных

In [16]:
import meteo_utils
from datetime import date, datetime, timedelta

import importlib
importlib.reload(meteo_utils)

path = r"D:\!Work\!teaching\HSE Urban climate modelling 2025\22559\22559"

df = meteo_utils.read_weaclim_dir (path)

In [17]:
df.head()

,t2m,rh2m,slp,ps,vel10m,gust10m,tcc,lcc,dir10m
Datetime,,,,,,,,,
2022-01-01 12:00:00,-7.1,92.0,989.2,987.5,1.0,NaN,10.0,8.0,225.0
2022-01-01 15:00:00,-8.7,91.0,989.7,988.0,1.0,NaN,10.0,3.0,225.0
2022-01-01 18:00:00,-9.1,92.0,990.9,989.2,2.0,NaN,10.0,6.0,270.0
2022-01-01 21:00:00,-9.9,93.0,992.1,990.4,2.0,NaN,10.0,8.0,270.0
2022-01-02 00:00:00,-11.5,91.0,993.8,992.1,3.0,NaN,10.0,4.0,315.0